@import "normalize";

$pink:    #FF0099;
$purple:  #3023AE;
$black:   #000022;
$white:   #FFFFFF;

$label-width: 10rem;
$handle-outer-width: 2.5rem;
$handle-inner-width: 1rem;
$trigger-size: 1em;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: $black;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
}

.header {
  margin: 0 0 0.5rem;
  text-align: center;
  position: relative;
  z-index: 10;

  &__links {
    margin: 0.5em auto 0;
    padding-top: 0.25em;
    max-width: 18.75rem;
    border-top: 1px solid rgba($white, 0.5);

    a {
      font-size: 0.75rem;
      color: $pink;
      text-decoration: none;
      padding: 0 0.5rem;
      opacity: 0.8;
      svg {
        width: 1.35em;
        height: 1.35em;
        display: inline-block;
        fill: $white;
        vertical-align: middle;
        margin-top: -0.125rem;
      }
      &:hover {
        opacity: 1;
      }
    }

    @media screen and (min-width: 33rem) {
      margin-top: 1em;
      padding-top: 0.5em;

      a {
        font-size: 0.875rem;
      }
    }
  }

}
h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgba($white, 0.8);
  line-height: 1;
  margin: 0 0 0.125em;
  letter-spacing: 0.01em;
  text-align: center;

  @media screen and (min-height: 36.25rem) and (min-width:25rem) {
    font-size: 2rem;
  }
}

.container {
  min-height: calc(100vh - 2.5rem);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 70vmax;
    height: 70vmax;
    position: absolute;
    background: rgba($white,0.07);
    left: -20vmin;
    top: -20vmin;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    z-index: 1;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
  }

  &::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%;
  }
}



.generator {
  width: 50vmin;
  height: 50vmin;
  border: 2px dashed rgba($white,0.4);
  position: relative;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;

  &__shape {
    width: 100%;
    height: 100%;
    background: $pink;
    background-image: linear-gradient(45deg, $purple 0%, $pink 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);
  }

  &__handle {
    display: block;
    position: absolute;
    cursor: pointer;
    width: $handle-outer-width;
    height: $handle-outer-width;

    &:before {
      content: "";
      position: absolute;
      width: $handle-inner-width;
      height: $handle-inner-width;
      left: ($handle-outer-width - $handle-inner-width) / 2;
      top: ($handle-outer-width - $handle-inner-width) / 2;
      background: #fff;
      border: 2px solid #002;
      transition: box-shadow 0.2s ease-out;
      will-change: box-shadow;
    }

    &.active:before,
    &:hover:before {
      background: #0ff;
      box-shadow: 0 0 0 4px #FFF;
    }
  }
  #top {
    top: -($handle-outer-width / 2);
    left: 30%;
    transform: translateX(-50%);
  }
  #bottom {
    bottom: -($handle-outer-width / 2);
    left: 30%;
    transform: translateX(-50%);
  }
  #left {
    left: -($handle-outer-width / 2);
    top: 30%;
    transform: translateY(-50%);
  }
  #right {
    right: -($handle-outer-width / 2);
    top: 30%;
    transform: translateY(-50%);
  }
}

.output {
  width: 90%;
  text-align: left;
  margin-top: 1.5em;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;

  &__label {
    flex: 0 0 auto;
    margin-bottom: 0.5em;
    margin-right: 1em;
    color: rgba($white, 0.9);
  }

  &__code {
    display: block;
    font-family: 'Ubuntu Mono', monospace;
    flex-grow: 1;
    color: $black;
    background: #ccc;
    padding: 0.5em 0.625em;
    border-radius: 2px;
    margin-bottom: 0.5em;
  }

  &__button {
    display: block;
    border-radius: 2px;
    background: $pink;
    border: none;
    color: rgba($white, 0.9);
    padding: 0.5em 1em;
    font-weight: bold;
    width: 100%;
    transition: background 0.3s ease-out;
    will-change: background;
    cursor: pointer;

    &:hover {
      background: $purple;
    }
  }

  @media screen and (min-width: 30.75rem) {
    font-size: 1.25rem;

    &__code {
      border-radius: 2px 0 0 2px;
      flex-grow: 1;
      margin-bottom: 0;
    }

    &__button {
      flex-shrink: 1;
      border-radius: 0 2px 2px 0;
      width: auto;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }

  @media screen and (min-width: 43rem) {
    display: flex;
    justify-content: stretch;
    align-items: baseline;
    max-width: 39rem;
  }
}


  .input-group {
    input {
      border-radius: 2px;
      border: none;
      background: $white;
      font-family: 'Ubuntu Mono', monospace;
      color: $black;
      padding: 0.5em 0.625em;
    }

    @media screen and (min-width: 30.85rem) {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;}
  100% {border-radius: 40% 60%;}
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.advanced {
  width: 90%;
  max-width: 39rem;
  text-align: left;
  margin: 0.5em auto;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba($white, 0.9);

  @media screen and (min-width: 560px) {
    font-size: 1.25rem;
  }

  &__switch {
    padding: 0.5em 0;
    flex-shrink: 0;
    margin-bottom: 0.5em;
  }

  &__settings {
    display: none;

    &.visible {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
  
      @media screen and (min-width: 31.25rem) {
        flex-direction: row;
      }
    }
  }

  &__check {
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    border: none;
  }

  .input-group {
    align-items: center;
    margin-left: 1em;
    margin-bottom: 0.5em;
    justify-content: space-between;
    display: flex;

    label {
      display: block;
      margin-right: 0.5em;
    }
    input[type="number"] {
      width: 4.5rem;
    }
  }

  &__check:checked + .advanced__trigger {
    span:after {
      background: $pink;
      left: 1.15 * $trigger-size;
    }
  }

  &__trigger {
    display: block;
    line-height: 1;
    cursor: pointer;


    span {
      display: inline-block;
      width: 2 * $trigger-size;
      height: $trigger-size;
      border-radius: 0.5 * $trigger-size;
      background: rgba($white, 0.8);
      vertical-align: bottom;
      position: relative;

      @media screen and (min-width: 43rem) {
        margin-left: 2rem;
      }

      &:after {
        content: "";
        position: absolute;
        width: 0.7 * $trigger-size;
        height: 0.7 * $trigger-size;
        border-radius: 50%;
        background: $black;
        position: absolute;
        left: .15 * $trigger-size;
        top: .15 * $trigger-size;
        transition: left 0.3s ease-out, background 0.3s ease-out;
      }
    }
  }
}

.footer {
  background: rgba($white, 0.15);
  min-height: 2.5rem;
  text-align: center;
  color: rgba($white, 0.6);
  font-size: 1rem;
  line-height: 2.5rem;

  &__heart {
    padding: 0 0.125em;
    color: $purple;
  }

  a {
    text-decoration: none;
    color: rgba($white, 0.8);

    &:hover {
      text-decoration: underline;
    }
  }
}

.alert {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  color: $black;
  font-size: 1.5rem;
  pointer-events: none;
  z-index: 100;
  padding: 1em;
  background: rgba($white, 0.8);
  border-radius: 0.5em;
  white-space: nowrap;
}

.links {
  position: absolute;
}
