@import "scss/normalize";

$pink:    #FF0099;
$purple:  #3023AE;
$black:   #000022;
$white:   #FFFFFF;

$handle-outer-width: 2.5rem;
$handle-inner-width: 1rem;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: $black;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgba($white, 0.8);
  line-height: 1;
  margin: 0 0 0.5em;
  letter-spacing: 0.01em;

  @media screen and (min-height: 36.25rem) and (min-width:25rem) {
    font-size: 2rem;
  }
}

.container {
  height: calc(100vh - 2.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 70vmax;
    height: 70vmax;
    position: absolute;
    background: rgba($white,0.07);
    left: -20vmin;
    top: -20vmin;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    z-index: 1;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
  }

  &::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%;
  }
}



.generator {
  width: 60vmin;
  height: 60vmin;
  border: 2px dashed rgba($white,0.4);
  position: relative;
  z-index: 3;

  &__shape {
    width: 100%;
    height: 100%;
    background: $pink;
    background-image: linear-gradient(45deg, $purple 0%, $pink 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);
  }

  &__handle {
    display: block;
    position: absolute;
    cursor: pointer;
    width: $handle-outer-width;
    height: $handle-outer-width;

    &:before {
      content: "";
      position: absolute;
      width: $handle-inner-width;
      height: $handle-inner-width;
      left: ($handle-outer-width - $handle-inner-width) / 2;
      top: ($handle-outer-width - $handle-inner-width) / 2;
      background: #fff;
      border: 2px solid #002;
      transition: box-shadow 0.2s ease-out;
      will-change: box-shadow;
    }

    &.active:before,
    &:hover:before {
      background: #0ff;
      box-shadow: 0 0 0 4px #FFF;
    }
  }
  #top {
    top: -($handle-outer-width / 2);
    left: 30%;
    transform: translateX(-50%);
  }
  #bottom {
    bottom: -($handle-outer-width / 2);
    left: 30%;
    transform: translateX(-50%);
  }
  #left {
    left: -($handle-outer-width / 2);
    top: 30%;
    transform: translateY(-50%);
  }
  #right {
    right: -($handle-outer-width / 2);
    top: 30%;
    transform: translateY(-50%);
  }
}

.output {
  width: 90%;
  text-align: left;
  margin-top: 1.5em;
  font-size: 1.125rem;
  line-height: 1.5;

  &__label { 
    flex: 0 0 auto;
    margin-right: 1em;
    margin-bottom: 0.5em;
    color: rgba($white, 0.9);
  }

  &__code {
    display: block;
    font-family: 'Ubuntu Mono', monospace;
    flex-grow: 1;
    color: $black;
    background: #ccc;
    padding: 0.5em 0.625em;
    border-radius: 2px;
    margin-bottom: 0.5em;
  }

  &__button {
    display: block;
    border-radius: 2px;
    background: $pink;
    border: none;
    color: rgba($white, 0.9);
    padding: 0.5em 1em;
    font-weight: bold;
    width: 100%;
  }

  @media screen and (min-width: 30.75rem) {
    font-size: 1.25rem;

    &__input-group {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
    }

    &__code {
      border-radius: 2px 0 0 2px;
      flex-grow: 1;
      margin-bottom: 0;
    }

    &__button {
      flex-shrink: 1;
      border-radius: 0 2px 2px 0;
      width: auto;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

  }

  @media screen and (min-width: 43rem) {
    display: flex;
    justify-content: stretch;
    align-items: baseline;
    max-width: 39rem;
  }
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;}
  100% {border-radius: 40% 60%;}
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.settings{
  display: none;
}
#enable-advanced:checked + .settings{
  display: block;
}

.footer {
  background: rgba($white, 0.15);
  height: 2.5rem;
  text-align: center;
  color: rgba($white, 0.6);
  font-size: 1rem;
  line-height: 2.5rem;

  &__heart {
    padding: 0 0.125em;
    color: $purple;
  }

  a {
    text-decoration: none;
    color: rgba($white, 0.8);

    &:hover {
      text-decoration: underline;
    }
  }
}

#width,
#height {
  color: $black;
}