.company-link {
  border: 1px solid $pink;
  font-size: 1rem;
  display: block;
  margin: 0 auto auto;
  margin-bottom: 1rem;
  padding: 1em;
  width: 14em;
  color: $white;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
  position: relative;

  @media screen and (min-width: 62rem) and (orientation: landscape){
    position: absolute;
    top: 7%;
    right: 1rem;
  }

  @media screen and (min-width: 82rem) and (orientation: landscape){
    left: 75%;
  }
}
